In [22]:
import pandas as pd
import numpy as np
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [5]:
SID = np.arange(1,51)
Tablecol = ['CA1','CA2','CA3']
np.random.seed(100)
score = np.random.randint(1,11,150)
score = score.reshape(50,3)
data = pd.DataFrame(data =score, index=SID, columns = Tablecol)
data

    CA1  CA2  CA3
1     9    9    4
2     8    8    1
3     5    3    6
4     3    3    3
5     2    1    9
6     5    1   10
7     7    3    5
8     2    6    4
9     5    5    4
10    8    2    2
11    8    8    1
12    3   10   10
13    4    3    6
14    9    2    1
15    8    7    3
16    1    9    3
17    6    2    9
18    2    6    5
19    3    9    4
20    6    1   10
21    4    7    4
22    5    8    7
23    4   10    1
24    5    5    6
25    8    7    7
26    3    5    3
27    8    2    7
28    7    1    8
29    3    4    6
30    5    3    5
31    4    8   10
32    1    1    6
33   10    7    7
34    6    7    5
35    8    4   10
36    3    4    9
37    8    2    6
38   10    4    1
39    7    3    4
40    5    9   10
41    9    6    3
42    8    6   10
43    1   10    9
44    7    3    1
45    6    4    3
46    4    7    5
47    2    4    2
48    5    9    9
49    3    3    8
50    3    2    3

In [6]:
data['CA3']# selecting a single colums

1      4
2      1
3      6
4      3
5      9
6     10
7      5
8      4
9      4
10     2
11     1
12    10
13     6
14     1
15     3
16     3
17     9
18     5
19     4
20    10
21     4
22     7
23     1
24     6
25     7
26     3
27     7
28     8
29     6
30     5
31    10
32     6
33     7
34     5
35    10
36     9
37     6
38     1
39     4
40    10
41     3
42    10
43     9
44     1
45     3
46     5
47     2
48     9
49     8
50     3
Name: CA3, dtype: int32

In [7]:
data[['CA1', 'CA3']]# selecting more than a column

    CA1  CA3
1     9    4
2     8    1
3     5    6
4     3    3
5     2    9
6     5   10
7     7    5
8     2    4
9     5    4
10    8    2
11    8    1
12    3   10
13    4    6
14    9    1
15    8    3
16    1    3
17    6    9
18    2    5
19    3    4
20    6   10
21    4    4
22    5    7
23    4    1
24    5    6
25    8    7
26    3    3
27    8    7
28    7    8
29    3    6
30    5    5
31    4   10
32    1    6
33   10    7
34    6    5
35    8   10
36    3    9
37    8    6
38   10    1
39    7    4
40    5   10
41    9    3
42    8   10
43    1    9
44    7    1
45    6    3
46    4    5
47    2    2
48    5    9
49    3    8
50    3    3

In [8]:
data.loc[7]# selecting a single index or row with set index

CA1    7
CA2    3
CA3    5
Name: 7, dtype: int32

In [9]:
data.iloc[6]# selecting a single index or row with default index

CA1    7
CA2    3
CA3    5
Name: 7, dtype: int32

In [10]:
data.loc[[7,9,15,20,25]]# selecting more than a row or index based on set index

    CA1  CA2  CA3
7     7    3    5
9     5    5    4
15    8    7    3
20    6    1   10
25    8    7    7

In [12]:
data.iloc[[6,8,14,19,24]]# selecting more than a row or index based on default index

    CA1  CA2  CA3
7     7    3    5
9     5    5    4
15    8    7    3
20    6    1   10
25    8    7    7

In [27]:
np.random.seed
age_value = np.random.randint(12,16,50).reshape(50,1)
data.insert(loc = 0, value = age_value, column = 'Age')
data

ValueError: cannot insert Age, already exists

In [26]:
np.random.seed(100)
data['EXAMS'] = np.random.randint(25,71,50).reshape(50,1)
data

    Age  AGE  age  CA1  CA2  CA3  EXAMS
1    15   15   15    9    9    4     33
2    13   14   13    8    8    1     49
3    12   12   13    5    3    6     28
4    13   14   14    3    3    3     64
5    15   13   14    2    1    9     48
6    14   12   13    5    1   10     40
7    15   14   12    7    3    5     35
8    14   13   14    2    6    4     55
9    14   12   13    5    5    4     59
10   12   12   14    8    2    2     27
11   15   13   15    8    8    1     59
12   13   13   12    3   10   10     39
13   15   15   13    4    3    6     59
14   13   14   14    9    2    1     49
15   12   14   14    8    7    3     40
16   13   15   13    1    9    3     61
17   13   13   14    6    2    9     68
18   12   12   13    2    6    5     41
19   15   14   13    3    9    4     34
20   12   13   13    6    1   10     54
21   14   14   13    4    7    4     47
22   13   12   14    5    8    7     27
23   12   15   15    4   10    1     52
24   15   12   12    5    5    6     69
25   15   13   14    8    7    7     29
26   13   13   15    3    5    3     56
27   12   13   13    8    2    7     26
28   13   15   12    7    1    8     38
29   13   14   14    3    4    6     44
30   13   15   12    5    3    5     61
31   12   14   14    4    8   10     29
32   15   15   15    1    1    6     52
33   13   13   13   10    7    7     28
34   12   13   15    6    7    5     32
35   14   12   15    8    4   10     26
36   13   13   12    3    4    9     39
37   14   15   14    8    2    6     32
38   13   14   13   10    4    1     41
39   15   13   14    7    3    4     27
40   14   12   13    5    9   10     66
41   12   12   13    9    6    3     55
42   14   13   13    8    6   10     44
43   14   15   14    1   10    9     59
44   15   13   13    7    3    1     52
45   12   14   12    6    4    3     55
46   15   12   15    4    7    5     64
47   15   15   12    2    4    2     70
48   15   14   15    5    9    9     63
49   15   12   14    3    3    8     69
50   14   15   15    3    2    3     43

In [28]:
data['TotalScore'] = data['CA1'] + data['CA2'] + data['CA3'] + data['EXAMS']
data

    Age  AGE  age  CA1  CA2  CA3  EXAMS  TotalScore
1    15   15   15    9    9    4     33          55
2    13   14   13    8    8    1     49          66
3    12   12   13    5    3    6     28          42
4    13   14   14    3    3    3     64          73
5    15   13   14    2    1    9     48          60
6    14   12   13    5    1   10     40          56
7    15   14   12    7    3    5     35          50
8    14   13   14    2    6    4     55          67
9    14   12   13    5    5    4     59          73
10   12   12   14    8    2    2     27          39
11   15   13   15    8    8    1     59          76
12   13   13   12    3   10   10     39          62
13   15   15   13    4    3    6     59          72
14   13   14   14    9    2    1     49          61
15   12   14   14    8    7    3     40          58
16   13   15   13    1    9    3     61          74
17   13   13   14    6    2    9     68          85
18   12   12   13    2    6    5     41          54
19   15   14   13    3    9    4     34          50
20   12   13   13    6    1   10     54          71
21   14   14   13    4    7    4     47          62
22   13   12   14    5    8    7     27          47
23   12   15   15    4   10    1     52          67
24   15   12   12    5    5    6     69          85
25   15   13   14    8    7    7     29          51
26   13   13   15    3    5    3     56          67
27   12   13   13    8    2    7     26          43
28   13   15   12    7    1    8     38          54
29   13   14   14    3    4    6     44          57
30   13   15   12    5    3    5     61          74
31   12   14   14    4    8   10     29          51
32   15   15   15    1    1    6     52          60
33   13   13   13   10    7    7     28          52
34   12   13   15    6    7    5     32          50
35   14   12   15    8    4   10     26          48
36   13   13   12    3    4    9     39          55
37   14   15   14    8    2    6     32          48
38   13   14   13   10    4    1     41          56
39   15   13   14    7    3    4     27          41
40   14   12   13    5    9   10     66          90
41   12   12   13    9    6    3     55          73
42   14   13   13    8    6   10     44          68
43   14   15   14    1   10    9     59          79
44   15   13   13    7    3    1     52          63
45   12   14   12    6    4    3     55          68
46   15   12   15    4    7    5     64          80
47   15   15   12    2    4    2     70          78
48   15   14   15    5    9    9     63          86
49   15   12   14    3    3    8     69          83
50   14   15   15    3    2    3     43          51

In [29]:
data.columns

Index(['Age', 'AGE', 'age', 'CA1', 'CA2', 'CA3', 'EXAMS', 'TotalScore'], dtype='object')

In [30]:
for x in data.columns:
    print(data[x].unique())

[15 13 12 14]
[15 14 12 13]
[15 13 14 12]
[ 9  8  5  3  2  7  4  1  6 10]
[ 9  8  3  1  6  5  2 10  7  4]
[ 4  1  6  3  9 10  5  2  7  8]
[33 49 28 64 48 40 35 55 59 27 39 61 68 41 34 54 47 52 69 29 56 26 38 44
 32 66 70 63 43]
[55 66 42 73 60 56 50 67 39 76 62 72 61 58 74 85 54 71 47 51 43 57 52 48
 41 90 68 79 63 80 78 86 83]

In [31]:
for x in data.columns:
    print(data[x].nunique())

4
4
4
10
10
10
29
33

In [32]:
for x in data.columns:
    print(data[x].value_counts())

Age
15    15
13    14
12    11
14    10
Name: count, dtype: int64
AGE
13    15
14    12
12    12
15    11
Name: count, dtype: int64
age
13    17
14    15
15    10
12     8
Name: count, dtype: int64
CA1
8     9
5     8
3     8
4     5
2     4
7     4
6     4
9     3
1     3
10    2
Name: count, dtype: int64
CA2
3     8
2     6
7     6
4     6
9     5
1     5
8     4
6     4
5     3
10    3
Name: count, dtype: int64
CA3
3     7
10    7
4     6
1     6
6     6
9     5
5     5
7     4
2     2
8     2
Name: count, dtype: int64
EXAMS
59    4
55    3
27    3
52    3
39    2
44    2
28    2
64    2
29    2
40    2
69    2
26    2
61    2
41    2
49    2
32    2
33    1
66    1
70    1
63    1
38    1
34    1
56    1
47    1
54    1
68    1
35    1
48    1
43    1
Name: count, dtype: int64
TotalScore
73    3
51    3
50    3
67    3
55    2
62    2
68    2
48    2
85    2
74    2
54    2
60    2
56    2
72    1
86    1
78    1
80    1
63    1
79    1
42    1
90    1
41    1
52    1
61    1
57    1
43    1
47    1
71    1
66    1
39    1
76    1
58    1
83    1
Name: count, dtype: int64

In [34]:
data.rename({'AGE':'STUDENTAGE','EXAMS':'EXAMS_SCORE'},axis = 1, inplace = True)
data

    Age  STUDENTAGE  age  CA1  CA2  CA3  EXAMS_SCORE  TotalScore
1    15          15   15    9    9    4           33          55
2    13          14   13    8    8    1           49          66
3    12          12   13    5    3    6           28          42
4    13          14   14    3    3    3           64          73
5    15          13   14    2    1    9           48          60
6    14          12   13    5    1   10           40          56
7    15          14   12    7    3    5           35          50
8    14          13   14    2    6    4           55          67
9    14          12   13    5    5    4           59          73
10   12          12   14    8    2    2           27          39
11   15          13   15    8    8    1           59          76
12   13          13   12    3   10   10           39          62
13   15          15   13    4    3    6           59          72
14   13          14   14    9    2    1           49          61
15   12          14   14    8    7    3           40          58
16   13          15   13    1    9    3           61          74
17   13          13   14    6    2    9           68          85
18   12          12   13    2    6    5           41          54
19   15          14   13    3    9    4           34          50
20   12          13   13    6    1   10           54          71
21   14          14   13    4    7    4           47          62
22   13          12   14    5    8    7           27          47
23   12          15   15    4   10    1           52          67
24   15          12   12    5    5    6           69          85
25   15          13   14    8    7    7           29          51
26   13          13   15    3    5    3           56          67
27   12          13   13    8    2    7           26          43
28   13          15   12    7    1    8           38          54
29   13          14   14    3    4    6           44          57
30   13          15   12    5    3    5           61          74
31   12          14   14    4    8   10           29          51
32   15          15   15    1    1    6           52          60
33   13          13   13   10    7    7           28          52
34   12          13   15    6    7    5           32          50
35   14          12   15    8    4   10           26          48
36   13          13   12    3    4    9           39          55
37   14          15   14    8    2    6           32          48
38   13          14   13   10    4    1           41          56
39   15          13   14    7    3    4           27          41
40   14          12   13    5    9   10           66          90
41   12          12   13    9    6    3           55          73
42   14          13   13    8    6   10           44          68
43   14          15   14    1   10    9           59          79
44   15          13   13    7    3    1           52          63
45   12          14   12    6    4    3           55          68
46   15          12   15    4    7    5           64          80
47   15          15   12    2    4    2           70          78
48   15          14   15    5    9    9           63          86
49   15          12   14    3    3    8           69          83
50   14          15   15    3    2    3           43          51