In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('sample_pivot.csv')
df.head()#returns the number of specified rows

        Date Region                 Type  Units  Sales
0  7/11/2020   East  Children's Clothing   18.0    306
1  9/23/2020  North  Children's Clothing   14.0    448
2   4/2/2020  South     Women's Clothing   17.0    425
3  2/28/2020   East  Children's Clothing   26.0    832
4  3/19/2020   West     Women's Clothing    3.0     33

In [6]:
df.tail()# dafault also returns the last 5 rows

           Date Region                 Type  Units  Sales
995   2/11/2020   East  Children's Clothing   35.0    735
996  12/25/2020  North       Men's Clothing    NaN   1155
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

In [7]:
df.tail(3)

          Date Region              Type  Units  Sales
997  8/31/2020  South    Men's Clothing   13.0    208
998  8/23/2020  South  Women's Clothing   17.0    493
999  8/17/2020  North  Women's Clothing   25.0    300

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   object
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

In [9]:
df.isnull().sum()

Date       0
Region     0
Type       0
Units     89
Sales      0
dtype: int64

In [10]:
#forward fill
df1 = df.copy()
df1.fillna(method = 'ffill',inplace = True )
df1.tail()

           Date Region                 Type  Units  Sales
995   2/11/2020   East  Children's Clothing   35.0    735
996  12/25/2020  North       Men's Clothing   35.0   1155
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

In [11]:

#backward fill
df2 = df.copy()
df2.fillna(method = 'bfill',inplace = True )
df2.tail()

           Date Region                 Type  Units  Sales
995   2/11/2020   East  Children's Clothing   35.0    735
996  12/25/2020  North       Men's Clothing   13.0   1155
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

In [14]:
df3 = df.copy()
df3.fillna(np.mean(df['Units']),inplace = True)
df3.tail()

           Date Region                 Type      Units  Sales
995   2/11/2020   East  Children's Clothing  35.000000    735
996  12/25/2020  North       Men's Clothing  19.638858   1155
997   8/31/2020  South       Men's Clothing  13.000000    208
998   8/23/2020  South     Women's Clothing  17.000000    493
999   8/17/2020  North     Women's Clothing  25.000000    300

In [16]:
df4 = df.copy()
df4['Units'].replace({np.NaN:0}, inplace = True)
df4.tail()

           Date Region                 Type  Units  Sales
995   2/11/2020   East  Children's Clothing   35.0    735
996  12/25/2020  North       Men's Clothing    0.0   1155
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

In [17]:
df.dropna(inplace = True)
df.tail()

           Date Region                 Type  Units  Sales
994  10/18/2020   East     Women's Clothing   19.0    399
995   2/11/2020   East  Children's Clothing   35.0    735
997   8/31/2020  South       Men's Clothing   13.0    208
998   8/23/2020  South     Women's Clothing   17.0    493
999   8/17/2020  North     Women's Clothing   25.0    300

In [18]:
df.describe()

            Units        Sales
count  911.000000   911.000000
mean    19.638858   425.114160
std      9.471309   253.693525
min      3.000000    33.000000
25%     12.000000   220.000000
50%     20.000000   380.000000
75%     28.000000   573.500000
max     35.000000  1122.000000

In [19]:
categorical = df.select_dtypes(include = ['object'])
categorical.describe()

              Date Region              Type
count          911    911               911
unique         340      4                 3
top     12/17/2020   East  Women's Clothing
freq            10    411               424

In [20]:
df.apply('min')

Date                 1/1/2020
Region                   East
Type      Children's Clothing
Units                     3.0
Sales                      33
dtype: object

In [21]:
df.apply('mean', numeric_only = True)

Units     19.638858
Sales    425.114160
dtype: float64

In [22]:
df.groupby('Region').apply(np.mean)

TypeError: can only concatenate str (not "float") to str

In [23]:
df.groupby('Region')['Sales'].apply(np.mean)

Region
East     408.182482
North    434.911894
South    432.956204
West     452.029412
Name: Sales, dtype: float64

In [24]:
df.groupby('Region').apply('mean',numeric_only = True)

            Units       Sales
Region
East    19.732360  408.182482
North   19.202643  434.911894
South   20.423358  432.956204
West    19.294118  452.029412